<% layout("/layouts/boilerplate")%>
<body>
    <div class="row mt-3">
    <div class="col-8 offset-2">
    <h3>Create a New listing</h3>
    <form method="POST" action="/listing/<%=list._id%>?_method=PUT" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type = "text" name="listing[title]" value="<%=list.title%>" class="form-control" required>
            <div class="invalid-feedback">Please Enter Title</div>
            <div class="valid-feedback">Title Looks Good!</div>
        </div>
   
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" value="<%=list.description%>" type="text" class="form-control" required><%=list.description%></textarea>
            <div class="invalid-feedback">Please Enter a Short Description</div>
        </div>
    
        <div class="mb-3">
             <label for="image" class="form-label">Image Link</label>
             <input name="listing[image]" value="<%=list.image%>" type="text" class="form-control" required>
        </div>
<div class="row">
        <div class="col-4">
            <label for="price" class="form-label">Enter Price</label>
            <input name="listing[price]" value="<%=list.price%>" type="number" class="form-control" required>
            <div class="invalid-feedback">Please Enter Valid Price</div>
        </div>
   
    <div class="col-8">
        <label for="country" class="form-label">Enter Country</label>
        <input name="listing[country]" value="<%=list.country%>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please Enter Valid Country Name</div>
    </div>
</div>
    <div>
        <label for="location" class="form-label">Enter Location</label>
        <input name="listing[location]" value="<%=list.location%>" type="text" class="form-control" required>
        <div class="invalid-feedback">Please Enter Valid Location Name</div>
    </div>
    
    
    <button class="btn btn-dark add-btn mt-3">Add</button>
    </form>
</div>
</div>
</body>
</html>